@font-face {
    font-family: 'Super Mario Maker 2';
    src: url('/assets/fonts/SuperMarioMaker2.ttf');
}

@font-face {
    font-family: 'DFPZongYiW7-GB';
    src: url('/assets/fonts/DFPZongYiW7-GB.ttf');
}

@font-face {
    font-family: 'EngineTribe';
    src: url('/assets/fonts/EngineTribe-Regular.ttf');
}


.font-big {
    font-family: 'Super Mario Maker 2', 'DFPZongYiW7-GB', sans-serif;
    color: white;
    font-size: 5vh;
}

.font-regular {
    font-family: 'EngineTribe', sans-serif;
    color: white;
    font-size: 5vh;
}

.font-detailed-search-white {
    font-family: 'EngineTribe', sans-serif;
    color: white;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font-detailed-search {
    font-family: 'EngineTribe', sans-serif;
    color: #590f10;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}