.planet-1 {
    position: absolute;
    top: 50vh;
    left: 3vw;
}

.planet-1 > img {
    width: 20vw;
}

.planet-2 {
    position: absolute;
    top: 30vh;
    left: 74vw;
}

.planet-2 > img {
    width: 20vw;
}

.planet-3 {
    position: absolute;
    top: 7vh;
    left: 30vw;
}

.planet-3 > img {
    width: 7vw;
}

#app {
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
}

.nm-buttons {
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
}

.nm-title {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 6vh;
}

.nm-button-big-root {
    display: flex;
    flex-direction: row;
    gap: 5vh;
}

.nm-button-big {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.nm-button-big > img {
    height: 15vh;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.nm-button-big > span {
    display: flex;
    justify-content: center;
    position: relative;
    top: -7vh;
}

.nm-server-name {
    float: bottom;
    position: absolute;
    bottom: 5vh;
}


.nm-detailed-search-robot {
    position: absolute;
    top: 3vh;
    right: 25vw;
    animation: slide-robot 4s linear infinite;
}

.nm-detailed-search-robot > img {
    height: 15vh;
}

@keyframes slide-robot {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -5vh, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

img {
    user-select: none;
}