.font-detailed-search {
    font-family: 'DinkieBitmap', 'GuanZhi 8px', sans-serif;
    color: white;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}